{% extends 'layouts/base.html' %}

{% block title %}Alignment Viewer {{ ensembl_id }}{% endblock %}
{% block meta_description %}{% endblock %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/CoreUI-v1.0.6/style.css', _external=True) }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/CoreUI-v1.0.6/simple-line-icons-2.4.1.css', _external=True) }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/dynatables-0.3.1/jquery.dynatable.css', _external=True) }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/bootstrap-switch-3.3.4/css/bootstrap3/bootstrap-switch.min.css', _external=True) }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/bootstrap-hardskilled-extend-select-1.1.4/css/select.min.css', _external=True) }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/icheck-1.x/skins/square/blue.css', _external=True) }}">

    <link rel="stylesheet"
          href="//use.fontawesome.com/releases/v5.0.2/css/all.css">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css"/>

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css"/>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles/main.css', _external=True) }}">

    <script src="{{ url_for('static', filename='vendor/msa/msa.js') }}"></script>

    <style>
        .biojs_msa_headers {
            white-space: nowrap;
            text-align: center;
        }

        .biojs_msa_labels {
            white-space: nowrap;
            text-align: right;
            padding-right: 10px;
        }

        body {
            margin-bottom: 1px;
            padding-top: 1rem;
        }

    </style>

{% endblock %}

{% block body %}

<body class="None">
<div class="inner">

    <div class="container-fluid">
        <main class="col" role="main">

            <div class="row" id="mafLoadingDiv">
                <div class="col">
                    <h3><i class="fas fa-cog fa-spin"></i> Generating data...</h3>
                </div>
            </div>



            <div class="row invisible" id="mafOuterDiv">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-barcode fa-rotate-90"></i> Alignment Viewer</a>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col col-auto">
                                    <strong>Sort</strong>
                                </div>
                                <div class="col col-auto">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a id="btnSortLabelAsc" href="#"><i class="fas fa-sort-amount-up"></i> Label</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a id="btnSortLabelDesc" href="#"><i class="fas fa-sort-amount-down"></i> Label</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a id="btnSortSeqAsc" href="#"><i class="fas fa-sort-amount-up"></i> Sequence</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a id="btnSortSeqDesc" href="#"><i class="fas fa-sort-amount-down"></i> Sequence</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto">
                                    <strong>Selection</strong>
                                </div>
                                <div class="col-auto">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a id="btnSelectAll" href="#"><i class="far fa-check-square"></i></i> All</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a id="btnSelectNone" href="#"><i class="far fa-square"></i></i> None</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto">
                                    <strong>Search for substring</strong>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group">
                                        <input type="text" id="txtPeptideHL" class="form-control form-control-sm"
                                               placeholder="" aria-label="">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm btn-primary" id="btnPeptideHL" type="button"><i class="fab fa-searchengin"></i> Search</button>
                                            <button class="btn btn-sm btn-secondary" id="btnPeptideClear" type="button"><i class="fas fa-times-circle"></i> Clear</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-spacer"></div>

                            <div class="row">
                                <div class="col-auto">
                                    <a id="btnDownload" class="btn btn-primary btn-sm float-right" role="button" href="#">Download Selected Fasta Sequences</a>
                                </div>
                                <div class="col-auto">
                                    <span id="dlStatus" class="text-danger"></span>
                                </div>
                            </div>


                            <div id="mafViewerDiv">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <form name="dlForm" id="dlForm" method="POST" action="{{ url_for('api.streamed_fasta_response', _external=True) }}">
        <input type="hidden" id="ensemblID" name="ensemblID" value="{{ ensembl_id }}"/>
        <input type="hidden" id="proteinNumbers" name="proteinNumbers" value=""/>
    </form>


</div>

</body>
{% endblock %}

{% block javascript %}

    <script src="//code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.js"></script>

    <!-- D3 //-->
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/d3-queue.v3.min.js"></script>
    <script src="//d3js.org/d3-request.v1.min.js"></script>

    <!-- Extra //-->
    <script src="{{ url_for('static', filename='vendor/CoreUI-v1.0.6/app.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/dynatables-0.3.1/jquery.dynatable.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-hardskilled-extend-select-1.1.4/js/select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-switch-3.3.4/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-switch-3.3.4/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-check-all-0.5.0/jquery-check-all.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/icheck-1.x/icheck.js') }}"></script>

    <script>

    var globals = {};

    // Extended disable function
    jQuery.fn.extend({
        disable: function(state) {
            return this.each(function() {
                let $this = $(this);
                if($this.is('input, button, textarea, select'))
                    this.disabled = state;
                else
                    $this.toggleClass('disabled', state);
            });
        }
    });

    function setStatus(done) {
    }

       function updateMSAData(taskID, ensemblID) {
            // send GET request to status URL
            console.log('updateMSAData');
            console.log(taskID);

            if (globals.runningTask) {
                let statusURL = '{{ url_for('api.clustalo_gene_status', task_id='', _external=True) }}' + taskID;
                $.ajax({
                    type: 'GET',
                    url: statusURL,
                    success: function (data, status, request) {
                        console.log('DATA=======', data);
                        if (data['status'] === 'DONE') {
                            if ('error' in data) {
                                // MAJOR ERROR
                                let message = `Unfortunately, there was a problem contacting the server.  Please try again.`;
                                stopTask();
                                console.log('ERROR');
                            } else {
                                    displayMSAViewer(taskID, ensemblID);
                                    stopTask();
                            }
                        } else {
                            // rerun in 1 seconds
                            console.log('Not done, keep checking...');
                            setTimeout(function () {
                                updateMSAData(taskID, ensemblID);
                            }, 1000);  // TODO: change to 1000 (1 second)
                        }
                    }
                });
            } else {
            }
        }

        function startTask() {
        globals.runningTask = true;
        }

        function stopTask() {
        globals.runningTask = false;
        }

    function generateMSAData(ensemblID) {
        let url = `{{ url_for('page.msa', _external=True) }}?ensemblID=${ensemblID}`;

        startTask();

        $.ajax({
            type: 'POST',
            url: "{{ url_for('api.clustalo_gene', _external=True) }}",
            data: {'ensemblID': ensemblID},
            success: function(data, status, request) {
                console.log('data=', data);
                console.log('status=', status);
                console.log('request=', request);
                updateMSAData(data.task_id, ensemblID);
            },
            error: function(a, b, c) {
                // TODO: handle
                console.log(a,b,c);
                alert('Unexpected error');
            }
        });

    }

    function displayMSAViewer(task_id, ensemblID) {

        $('#mafViewerDiv').html('');
        $('#mafOuterDiv').removeClass('invisible');
        $('#mafOuterDiv').addClass('visible');
        $('#mafLoadingDiv').removeClass('visible');
        $('#mafLoadingDiv').addClass('invisible');
        $('#mafLoadingDiv').html('');

        let h = `
            <div class="row">
                <div class="col-11">
                    <div id="mafDIV"></div>
                </div>
            </div>`;


        $('#mafViewerDiv').html(h);

        console.log('task_id=', task_id);
            let opts = {};

            // set your custom properties
            // @see: https://github.com/wilzbach/biojs-vis-msa/tree/master/src/g
            opts.el = document.getElementById("mafDIV");
            opts.vis = {
                sequences: true,
                markers: true,
                metacell: false,
                conserv: false,
                overviewbox: false, // box on bottom, default to true
                seqlogo: false,
                gapHeader: true,
                leftHeader: true,

                // about the labels
                labels: true,
                labelName: true,
                labelId: false, // default is true
                labelPartition: false,
                labelCheckbox: true,

                // meta stuff
                metaGaps: true,
                metaIdentity: true,
                metaLinks: true
            };
            opts.conf = {
                registerMouseHover: false,
                registerMouseClicks: true,
                importProxy: "http://", // default is "https://cors-anywhere.herokuapp.com/",
                eventBus: true,
                alphabetSize: 20,
                dropImport: false,
                debug: true,
                hasRef: false, // hasReference,
                manualRendering: false // manually control the render (not recommened)
            };
            opts.menu = {
                menuFontsize: "14px",
                menuItemFontsize: "14px",
                menuItemLineHeight: "14px",
                menuMarginLeft: "3px",
                menuPadding: "3px 4px 3px 4px",
            };



            opts.zoomer = {
                // general
                alignmentWidth: "auto",
                alignmentHeight: 1225,
                columnWidth: 15,
                rowHeight: 15,
                autoResize: true, // only for the width

                // labels
                textVisible: true,
                labelIdLength: 30,
                labelNameLength: 200, // 100
                labelPartLength: 15,
                labelCheckLength: 15,
                labelFontsize: 13,
                labelLineHeight: "13px",

                // marker
                markerFontsize: "10px",
                stepSize: 1,
                markerStepSize: 2,
                markerHeight: 20,

                // canvas
                residueFont: "13", //in px
                canvasEventScale: 1,

                // overview box
                boxRectHeight: 2,
                boxRectWidth: 2,
                overviewboxPaddingTop: 10,

                // meta cell
                metaGapWidth: 35,
                metaIdentWidth: 40,
                metaLinksWidth: 25

            };

            // init msa
            globals.m = new msa(opts);

            let url = '{{ url_for('api.clustalo_gene_data', _external=True) }}?task_id=' + task_id;
            console.log('URL=', url);
            globals.m.u.file.importURL(url, renderMSA);

            function renderMSA() {

                // the menu is independent to the MSA container
                var menuOpts = {};
                menuOpts.el = document.getElementById('div');
                menuOpts.msa = globals.m;
                //menuOpts.menu = "small";
                //var defMenu = new msa.menu.defaultmenu(menuOpts);
                //globals.m.addView("menu", defMenu);

                // call render at the end to display the whole MSA
                globals.m.render();
            }
    }



    // Returns a function, that, as long as it continues to be invoked, will not
    // be triggered. The function will be called after it stops being called for
    // N milliseconds. If `immediate` is passed, trigger the function on the
    // leading edge, instead of the trailing.
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

    var myEfficientFn = debounce(function() {
        if (globals.m != null) {
            console.log('go');
            globals.m.render();
        }
    }, 250);



    $().ready(function () {

        window.addEventListener('resize', myEfficientFn);

        $('#btnSortLabelAsc').button().on('click', function (evt) {
            if (globals.m != null) {
                globals.m.seqs.comparator = 'name';
                globals.m.seqs.sort();
            }
        });

        $('#btnSortLabelDesc').button().on('click', function (evt) {
            if (globals.m != null) {
                globals.m.seqs.comparator = function (a, b) {
                    return -a.get("name").localeCompare(b.get("name"))
                };
                globals.m.seqs.sort();
            }
        });

        $('#btnSortSeqAsc').button().on('click', function (evt) {
            if (globals.m != null) {
                globals.m.seqs.comparator = 'seq';
                globals.m.seqs.sort();
            }
        });

        $('#btnSortSeqDesc').button().on('click', function (evt) {
            if (globals.m != null) {
                globals.m.seqs.comparator = function (a, b) {
                    return -a.get("seq").localeCompare(b.get("seq"))
                };
                globals.m.seqs.sort();
            }
        });

        $('#btnPeptideHL').button().on('click', function (evt) {
            if (globals.m != null) {
                let val = $('#txtPeptideHL').val().trim();
                globals.m.g.user.set("searchText", val);
            }
        });

        $('#btnPeptideClear').button().on('click', function (evt) {
            if (globals.m != null) {
                $('#txtPeptideHL').val('');
                globals.m.g.user.set("searchText", null);
            }
        });

        $('#btnSelectAll').button().on('click', function (evt) {
            $('input:checkbox').prop('checked', true);
        });

        $('#btnSelectNone').button().on('click', function (evt) {
            $('input:checkbox').prop('checked', false);
        });

        $('#btnDownload').button().on('click', function (evt) {
            $('#proteinNumbers').val("");
            $("#dlStatus").html('');

            let checked = $('input:checked');

            if (checked.length === 0) {
                $("#dlStatus").html('Please select at least one protein to download.');
                return;
            }

            let proteinNumbers = [];

            $.each(checked, function(idx, elem) {
                proteinNumbers.push($(elem).val());
            });

            $('#proteinNumbers').val(proteinNumbers.join(","));

            $("#dlForm").submit();
        });

        console.log('generating data for {{ ensembl_id }}');
        generateMSAData('{{ ensembl_id }}');
    });
    //-->



    </script>


{% if not config.DEBUG %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113547780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-113547780-1');
</script>
{% endif %}


{% endblock %}
